<h2 mat-dialog-title>Añadir un nuevo gasto</h2>
<mat-dialog-content>
    <mat-form-field class="input-full-width" id="formAñadir">

        <mat-label>Nombre</mat-label>
        <input matInput id="inputAñadir" placeholder="Ex. Luz">
    </mat-form-field>
    <mat-form-field id="formAñadir">
        <mat-label>Cantidad</mat-label>
        <input id="inputAñadir" placeholder="Ex. 50">
      </mat-form-field>

      <div id="divButton">
        <button name="botonAñadir" mat-button id="botonAñadir">Añadir</button>
        <button name="botonCancelar" mat-button id="botonCancelar">Cancelar</button>
     </div>
</mat-dialog-content>
