/* General container */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Alineación en la parte superior */
  padding-top: 20px; /* Espacio superior */
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
}

/* Container for the input and button */
.input-container {
  display: flex; /* Flexbox para alinear en fila */
  align-items: center; /* Centra verticalmente el input y botón */
  justify-content: center; /* Centra el contenedor completo */
  width: 100%;
  max-width: 600px; /* Controla el ancho máximo */
  padding: 10px;
  box-sizing: border-box;
}

/* Estilos para el campo de entrada */
mat-form-field {
  flex-grow: 1; /* Toma todo el ancho disponible */
  margin-right: 10px; /* Espaciado entre input y botón */
  margin-top: 20px;
}

#ingresos {
  width: 100%;
}

/* Estilos para el botón */
button {
  padding: 8px 16px;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  white-space: nowrap; /* Evita que el texto del botón se parta en varias líneas */
}

/* Estilos para los resultados */
.resultados {
  margin-top: 20px;
  width: 100%;
  max-width: 600px; /* Limita el ancho del bloque */
  text-align: left; /* Alineación del texto a la izquierda */
}